.ask {
  display: grid;
  grid-auto-rows: 25px;
  grid-auto-flow: row;
  grid-template-columns: repeat(3,3fr) 1fr;
  align-items: center;
  width: 100%;
  color: var(--white);
}

.row {
  z-index: 1;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr 1fr;
  height: 24px;
}

.row div {
  padding-left: var(--spacing-2);
}