/* stylelint-disable sh-waqar/declaration-use-variable */
/* stylelint-disable property-disallowed-list */
/* stylelint-disable no-descending-specificity */
@import './reset.css';
@import './colors.css';
@import './spacing.css';
@import './typography.css';
@import './transition.css';

:root {
  --border-radius: 3px;
  --border-width: 3px;
  --header-mobile-height: 68px;
  --box-shadow: rgb(9 30 66 / 25%) 0 4px 8px -2px, rgb(9 30 66 / 8%) 0 0 0 1px;
  --feather-to-bottom: linear-gradient(to bottom, rgb(255 255 255 / 100%) 0%, rgb(255 255 255 / 0%) 100%);
  --header-height: 54px;
}

:global(html) {
  font-size: 16px; /* application base font size */
}

:global(body) {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", Ubuntu, "Fira Sans", "Helvetica Neue", sans-serif;

  line-height: var(--line-height-5);

  background-color: var(--grey-900);
}

:global(html, body, #root) {
  width: 100%;
  height: 100%;
}

:global(#root) {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--blue-600);

  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}