.main {
  width: 100%;
  min-height: 100vh;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

  margin: 0 auto;
  padding: var(--header-height) var(--spacing-8) var(--spacing-8);
}

.contact {
  min-height: 400px;
  margin: 0 auto;
}

.item { 
  min-height: 400px;
}

.bullets {
  display: none;
}

@media screen and (min-width: 1280px) {
  .section {
    max-width: 1280px;
    height: 100vh;
  }
  
  .main {
    height: 100vh;
  }

  .bullets {
    position: fixed;
    top: calc(50% - 80px);

    display: block;
  
    margin-left: var(--spacing-8);
  }
}