.list {
  display: flex;
  justify-content: space-around;
}

.menu {
  min-width: 340px;
  max-width: 340px;
  margin: 30px var(--spacing-2) var(--spacing-2);
  padding: var(--spacing-3);

  background-color: var(--white);
  border-radius: 24px;
  box-shadow: var(--box-shadow);
}

.button {
  position: relative;

  width: 60px;
  height: 60px;
  padding: var(--spacing-3);

  background-color: var(--blue-300);
  border-radius: 30px;
  box-shadow: var(--box-shadow);

  cursor: pointer;
}

.menuItem {
  margin-top: var(--spacing--7);
}

.link {
  cursor: pointer;

  
}

.link:hover svg {
  transition: var(--transition);

  fill: var(--blue-600);
}