.book {
  display: grid;
  grid-template-areas:
    "a"
    "d"
    "b"
    "c";
  gap: 10px;
  align-items: start;
  color: var(--white);
  column-gap: 0;
  row-gap: 0;
}

.head {
  grid-area: a;
}

.spread {
  grid-area: b;
  text-align: center;
}

.bids {
  grid-area: c;
}

.asks {
  grid-area: d;
}

@media screen and (min-width: 700px) {
  .book {
    display: grid;
    grid-template-areas:
      "a b"
      "c d";
    grid-template-columns: repeat(4, 1fr);
  }

  .head {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .spread {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .bids {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .asks {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}