.row {
  z-index: 1;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr 1fr;
  height: 24px;
  color: var(--white);
}

.row div {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-2);
}

.fill {
  z-index: 0;
  grid-column: 1/-1;
  width: 100%;
  height: 24px;
  background-color: var(--bid-fill-row);
  transform: scaleX(var(--fill));
  contain: strict;
  transform-origin: 0 0;
}

.price {
  color: var(--warning);
}