.contact {

  max-width: 500px; 

  text-align: center;
}

.item {
  margin-bottom: var(--spacing-10);
}

.hesitate {
  color: var(--blue-300);
}

.hi {
  color: var(--black);
}

.animate {
  opacity: 0;

  animation-name: fade-in-up;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@keyframes fade-in-up {
  from {
      transform: translate3d(0,60px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@keyframes fade-in-up {
  from {
      transform: translate3d(0,60px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}